.editorActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .editorActions-left {
    display: flex;
    gap: 16px;
  }
  
  .editorActions-btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .editorActions-duplicate{
    border: 1px solid var(--mainLightThemeTextColorActive);
    background: transparent;
    color: var(--mainLightThemeTextColorActive);
  }
  .editorActions-delete {
    color: #FF2020;
    border: 1px solid #FF2020;
    background: transparent;
  }
  
  .editorActions-duplicate:hover:not(:disabled),
  .editorActions-delete:hover:not(:disabled) {
    background-color: #f5f5f5;
  }
  
  .editorActions-save {
    background-color: var(--lightThemeAccentColor);
    color: white;
    border: none;
  }
  
  .editorActions-save:hover {
    background-color: #047ADE;
  }
  
  .editorActions-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }