:root {
  --mainLightTextColor: #4A6484;
  --mainLightThemeTextColorActive: #283E95;
  --redLightThemeTextColor: #FF6363;
  --lightThemeAccentColor: #005DAC;
  --lightThemeBackgroundColor: #E8ECFF;
  --lightThemeBackgroundBlockColor: #FDFDFF;
  --lightThemeBackgraundActive: #E9F2FF;
  --lightThemeBackgraundPress: #D1E3FF;
  --lightThemeBackgroundTitleColor: #000000;
  height: 100%;
}

#root {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 75%; 
  background-color: #E8ECFF;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--mainLightTextColor);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1 {
 font-size: 3rem;
}
h2 { 
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem; 
}
h4 {
  font-size: 1.3rem; 
  font-weight: 400;
}
h5 {
  font-size: 1rem;
}
h6 {
  
}
